includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
	phpVersion: 80200
	level: 8
	treatPhpDocTypesAsCertain: false
	inferPrivatePropertyTypeFromConstructor: true
	tmpDir: var/cache/phpstan
	paths:
		- src
		- tests
	symfony:
		containerXmlPath: var/cache/container.xml
	ignoreErrors:
	    - message: '#does not call parent constructor from#'
	      paths:
	          - tests
